{% extends 'Finance/F_base.html' %}
{% block f_head  %}

<main id="main" class="main">
    <div class="pagetitle">
      <h1 style="color: black">Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'finance_dashboard' %}" class="breadcrumb-item active">Home</a>
          </li>
          
        </ol>
      </nav>
    </div>
    <section class="section" style="margin-top: 50px">
      <div class="row">
       
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
             <h3 class="card-title">List of Item for Purchase</h4>
              <table class="table table-border table-striped datatable">
                <thead>
                  <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Date</th>
                    <th scope="col">Order Code</th>
                    <th scope="col">Request By</th>
                    <th scope="col">Describtion</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Total No. Orderd</th>
                    <th scope="col">Admin Approval Status</th>
                    <th scope="col">Finance Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in all_list_item %}
                  <tr>
                    {% if item.Admin_Appruval == 'Approved' %}
                    <td>{{item.date}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.form1per.Request_by}}</td>
                    <td><a href="{% url 'finance_respons' item.id %}">{{item.Description}}</a></td>
                    <td>{{item.unit}}</td>
                    <td>{{item.req_qty}}</td>
                    <td><span class="badge bg-success text-white">{{item.Admin_Appruval}}</span></td>
                    {% if item.Finance_Action == 'Pending' %}
                    <td><span class="badge bg-warning text-white">{{item.Finance_Action}}</span></td>
                    {% elif item.Finance_Action == 'Completed' %}
                    <td><span class="badge bg-success">{{item.Finance_Action}}</span></td>
                    {% endif %}
                  {% endif %}

                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
       
      </div>

    </section>
  </main>

{% endblock %}