{% extends 'human_resource/HR_base.html' %}
{% block hr %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1 style="color: black">Manage Employees</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'admin-dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">Manage Employees</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
  {% for mssg in messages%}
  {% if mssg.tags == 'success' %}
  <div class="alert alert-success" role="alert">
    {{mssg}}
  </div>
  {%else %}
  <div class="alert alert-danger" role="alert">
    {{mssg}}
  </div>
  {% endif %}
  {% endfor %}
  <section class="section">
    <div class="row pb-2">
      <div class="col-lg-11 text-end">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="{% url 'hr-add-new-employe' %}" class="btn btn-outline-secondary btn-lg"><i class="bi bi-person-plus"></i
            ><span style="margin: 0 6px"> </span>Add New Employees</a>
          <a href="{% url 'hr-aprove-employe' %}" class="btn btn-outline-secondary btn-lg"><i class="bi bi-person-plus"></i
            ><span style="margin: 0 6px"> </span>Approve Employees</a>
        </div>
      </div>
      
     
    </div>
    <!-- Tabels -->
    <div class="col-lg-11">
      
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employees</h5>
          <table class="table table-border table-striped datatable">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Full Name</th>
                <th scope="col">Role</th>
                <th scope="col">User Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Email</th>
                <th scope="col">Access Store</th>
              </tr>
            </thead>
            <tbody>
              {% for employee in all_emplyees %}
              <tr>
                <td></td>
                <td><a href="{% url 'employe-ditel' employee.id %}">{{employee.Full_Name}}</a></td>
                <td>{{employee.role}}</td>
                <td>{{employee.user}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.user.email}}</td>
                <td>{{employee.accessStore}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- End of Tabel -->
  </section>
</main>
<!-- End #main -->

{% endblock %}
