{% extends 'Company_Admin/base.html' %} {% block admin %}

<main id="main" class="main">
    <div class="pagetitle">
      <h1 style="color: black">List of Item for Purchase</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'admin-dashboard' %}">Home</a>
          </li>
          <li class="breadcrumb-item">List of Item for Purchase</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    {% for mssg in messages%}
    {% if mssg.tags == 'success' %}
    <div class="alert alert-success" role="alert">
      {{mssg}}
    </div>
    {%else %}
    <div class="alert alert-danger" role="alert">
      {{mssg}}
    </div>
    {% endif %}
    {% endfor %}
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
    
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">List of Item for Purchase</h5>
                 
                  <table class="table table-border table-striped datatable">
                    <thead>
                      <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Date</th>
                        <th scope="col">Order Code</th>
                        <th scope="col">Request By</th>
                        <th scope="col">Describtion</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Total No. Orderd</th>
                        <th scope="col">Total No. Added</th>
                        <th scope="col">Admin Approval Status</th>
                        <th scope="col">Finance Action</th>
                        <th scope="col">Item Status</th>

                        
                      
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in all_list_item %}
                      <tr>
                        <td>{{item.date}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.form1per.Request_by}}</td>
                        <td><a href="{% url 'admin_respons' item.id %}">{{item.Description}}</a></td>
                        <td>{{item.unit}}</td>
                        <td>{{item.req_qty}}</td>
                        <td>{{item.add_qty}}</td>
                        {% if item.Admin_Appruval == 'Pending' or item.Admin_Appruval == 'Approved' %}
                           {% if item.Admin_Appruval == 'Pending' %}
                           <td><span class="badge bg-warning text-white">{{item.Admin_Appruval}}</span></td>
                           {% elif item.Admin_Appruval == 'Approved' %}
                           <td><span class="badge bg-success text-white">{{item.Admin_Appruval}}</span></td>
                           {% endif %}
                           {% if item.Finance_Action == 'Pending' %}
                          <td><span class="badge bg-warning text-white">{{item.Finance_Action}}</span></td>
                          {% elif item.Finance_Action == 'Completed' %}
                          <td><span class="badge bg-success">{{item.Finance_Action}}</span></td>
                          {% endif %}

                          {% if item.Item_Status == 'Pending' %}
                          <td><span class="badge bg-warning text-white">{{item.Item_Status}}</span></td>
                          {% elif item.Item_Status == 'Completed' %}
                          <td><span class="badge bg-success">{{item.Item_Status}}</span></td>
                          {% endif %}


                        {% elif item.Admin_Appruval == 'Reject' %}
                       
                        <td><span class="badge bg-danger text-white">Rejected</span></td>
                        <td><span class="badge bg-info text-white">Canceled</span></td>
                        <td><span class="badge bg-info text-white">Canceled</span></td>
                        {% endif %}
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
    
                </div>
              </div>
    
            </div>
          </div>
    </section>
    </main>

    {% endblock %}