{% extends 'Department_head/D_base.html' %}
{% block d_head  %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1 style="color: black">Cheeck-Request</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dept-dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Cheeck-Request</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
          <div class="col-lg-12">
           
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Cheeck-Request</h5>
                  <!-- Table with stripped rows -->
                  <table class="table datatable">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                       
                        <th scope="col">Request tool</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col">Approved</th>
                        <th scope="col">Reject</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for request in all_request %}
                      {% if request.dept_head_Action == 'Pending' %}
                      <tr>
                        <td>{{request.date}}</td>
                        <td>{{request.Request_by}}</td>
                        <td>{{request.Description}}</td>
                        <td>{{request.req_qty}}</td>
                         
                       
                        <td>
                          <a href="{% url 'aprove_request' request.id %}" class="btn btn-success"><i class="bi bi-check-circle"></i></a>
                        </td>
                         <td>
                          <a href="{% url 'reject_request' request.id %}" class="btn btn-danger"><i class="bi bi-exclamation-octagon"></i></a>
                         </td>
                       </tr>
                       {% endif %}
                       
                      
                      
                     {% endfor %}
                       
                      
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
    
                </div>
              </div>

         </div>
    </section>
  </main><!-- End #main -->
{% endblock %}