{% extends 'Company_Admin/base.html' %} {% block admin %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1 style="color: black">Departments</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'admin-dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'departments' %}">Departments</a>
        </li>
        <li class="breadcrumb-item">Department Details</li>
      </ol>
    </nav>
  </div>
  <section class="section" style="margin-top: 50px">
    <div class="row">
      <div class="col-lg-12">
       
        <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">All Item taken by this Dep'te</h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">Requested Date</th>
                    <th scope="col">Request By:</th>
                    <th scope="col">Request tool</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Approved By:</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for request in all_receved_req %}
                  <tr>
                    <td>{{request.date}}</td>
                    <td>{{request.Request_by}}</td>
                    <td>{{request.Description}}</td>
                    <td>{{request.req_qty}}</td>
                    <td>{{request.checkd_by.Full_Name}}</td>
                  </tr>
                  
                 {% endfor %}
                   
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

     </div>
     </div>
  </section>
</main>

{% endblock %}
