{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    
 

  <tr>
    <td 
    style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:15px;" 
    colspan="2" align="center">
   Dan Energy Reasearch & Development PLC 
   
 </td>
  </tr>
  <tr>
    <td 
    style="font-family:Verdana, Geneva, sans-serif;  font-weight:600; font-size:15px;" 
    colspan="2" align="center">
   Material Requisition
 </td>
  </tr>
  
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
 
    </table></td>
  
    <div class="col-lg-6">
      <p><strong>Request by: {{form1.Request_by}}</strong></p>
      <p><strong> Department: {{form1.Department}}</strong></p>
      <p><strong>Checked By: {{form1.checkd_by}}</strong></p>
      <p><strong>Approved By: {{form1.Approved_by}}</strong></p>
      <p><strong> Date: {{form1.date}} </strong></p>
  </div>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="padding-top:10px;font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" width="34%" height="32" align="center">Description</td>
        <td style="padding-top:10px;font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" width="34%" height="32" align="center">Unit</td>
        <td style="padding-top:10px;font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="30%" align="center">Qty</td>
        <td style="padding-top:10px;font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333;" width="30%" align="center">Remark</td>
      </tr>

      {% for item in all_item %}
      <tr>
        <!-- <th scope="row">1</th> -->
        <td style="padding-top:10px;font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" height="32" align="center">{{item.Description}}</td>
        <td style="padding-top:10px;font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" height="32" align="center">{{item.unit}}</td>
        <td style="padding-top:10px;font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" height="32" align="center">{{item.req_qty}}</td>
        <td style="padding-top:10px;font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333;" height="32" align="center">{{item.Remark}}</td>
        
      </tr>
      {% endfor %}
    </table></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr> 
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
</body>
</html>