{% extends 'Store_manager/S_base.html'  %}

{% block store %}

<main id="main" class="main">

    <div class="pagetitle">
      <h1 style="color: black">Request for Purchase</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'store-dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Request for Purchase</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    {% for mssg in messages%}
    {% if mssg.tags == 'success' %}
    <div class="alert alert-success" role="alert">
      {{mssg}}
    </div>
    {%else %}
    <div class="alert alert-danger" role="alert">
      {{mssg}}
    </div>
    {% endif %}
    {% endfor %}
    <section class="section">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Form 1</h5>
  
                <!-- Vertical Form -->
                <form class="row g-3" method="POST" action="{% url 'new_action1' %}">
                  {% csrf_token %}
                  <div class="col-12">
                    <input type="text" class="form-control" id="inputNanme4" placeholder="Request By:" name="Request_by" required>
                  </div>
                 
                  <div class="col-12">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Department:" name="Department" required>
                  </div>
                  <div class="col-12">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Check by:" name="checkd_by" required>
                  </div>
                  
                  <div class="text-center d-grid">
                    <button type="submit" class="btn btn-success" name="req">Submit</button>
                    
                  </div>
                </form><!-- Vertical Form -->
  
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Form 2</h5>
    
                  <!-- Floating Labels Form -->
                  <form class="row g-2" action="{% url 'new_action' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingName" placeholder="Your Name" name="desc" required>
                        <label for="floatingName">Description</label>
                      </div>
                    </div>
                     <div class="col-md-6">
                      <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="State" name="unit" required>
                          
                          <option>Kg.</option>
                          <option>Meter</option>
                          <option>Liter</option>
                          <option>Number</option>
                          <option>Other</option>
                        </select>
                        <label for="floatingSelect">unit</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-12">
                        <div class="form-floating">
                          <input type="text" class="form-control" id="floatingCity" placeholder="City" name="qty" required>
                          <label for="floatingCity">Qty</label>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-12">
                      <div class="form-floating">
                        <textarea class="form-control" placeholder="Address" id="floatingTextarea" name="remark" style="height: 100px;" required></textarea>
                        <label for="floatingTextarea">Remark</label>
                      </div>
                    </div>
                   
                   
                    <div class="text-start">
                      <button type="submit" class="btn btn-success" name="item">Submit</button>
                      <a href="{% url 'check-out' %}" class="btn btn-secondary">Check out</a>
                    </div>
                  </form><!-- End floating Labels Form -->
    
                </div>
              </div>
         
         </div>
    </section>
  </main><!-- End #main -->
{% endblock %}