{% extends 'human_resource/HR_base.html'  %}
{% block hr %}
{% load static %}

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-6">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
        
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="#">Change Profile Image</a>
                </li>
              </ul>
              <div class="tab-content pt-2">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row mb-3">
                      <div class="col col-md-4 col-lg-8">
                      </div>
                      <div class="col col-md-12 col-lg-12">
                        <div class="text-ceter">
                          {% if admin.profile_pic %}
                          <img src="{{admin.profile_pic.url}}" alt="Profile" width="150px">
                          {% endif %}
                        </div>
                       
                          <div class="d-grid gap-2 col-12 mx-auto pt-2">
                            <input type="file" class="btn btn-primary btn-sm" name="newimg" >
                            <button type="submit" class="btn btn-success">Update</button>
                          </div>
                    </div>
                  </div>
                </form>
            
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
    </main>
{% endblock %}
