{% extends 'employe/index.html'  %}
{% block profile1 %}
{% load static %}

<main style="margin-top: 100px; " class="container">
  
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'emp_user-Profile' %}">Home</a></li>
        <li class="breadcrumb-item active">Change Profile Picture</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              {% if admin.profile_pic %}
              <img src="{{admin.profile_pic.url}}" alt="Profile" >
              {% endif %}
              <h2>{{user.first_name}} {{user.last_name}}</h2>
              <h3>{{admin.role}} @ {{admin.inDepartment}}</h3>
              <div class="social-links mt-2">
                {% if admin.telegram and admin.telegram != 'None' %}
                <a href="{{admin.telegram}}" class="telegram"><i class="bi bi-telegram"></i></a>
                {% endif %}

                {% if admin.facebook and admin.facebook != 'None' %}
                <a href="{{admin.facebook}}" class="facebook"><i class="bi bi-facebook"></i></a>
                {% endif %}

                {% if admin.instagram and admin.instagram != 'None' %}
                <a href="{{admin.instagram}}" class="instagram"><i class="bi bi-instagram"></i></a>
                {% endif %}

              </div>
            </div>
          </div>

        </div>
        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
        
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="#">Change Profile Image</a>
                </li>
              </ul>
              <div class="tab-content pt-2">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row mb-3">
                      <div class="col col-md-4 col-lg-8">
                      </div>
                      <div class="col col-md-12 col-lg-12">
                        <div class="text-ceter">
                          {% if admin.profile_pic %}
                          <img src="{{admin.profile_pic.url}}" alt="Profile" width="150px">
                          {% endif %}
                        </div>
                       
                          <div class="d-grid gap-2 col-12 mx-auto pt-2">
                            <input type="file" class="btn btn-primary btn-sm" name="newimg" >
                            <button type="submit" class="btn btn-success">Update</button>
                          </div>
                    </div>
                  </div>
                </form>
            
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
        
      </div>
    </section>
    </main>
{% endblock profile1 %}
