{% extends 'Company_Admin/base.html' %} {% block admin %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1 style="color: black">Batch</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'admin-dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item">Batch</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <h1>Batch Page</h1>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
